@font-face {
  font-family: DeepShadow;
  src: url("../fonts/Deep Shadow.ttf");
}

body {
    margin: 0;
    padding: 0;
    background: #7AC890;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Lato', sans-serif;
}
a {
    text-decoration: none;
    color: #7590bd;
}
#title {
	font-family: 'DeepShadow', sans-serif;
	font-size: 48px;
	user-select: none;
}
#sub-title {
	user-select: none;
	font-size: 24px;
	margin-top: 15px;
}
#map {
	margin: 0 auto;
	position: relative;
}

#legends {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#legends >div {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

#legends .color {
    width: 20px;
    height: 20px;
    margin-right: 4px;
}

.country {
    fill: #fff;
    stroke: #7590bd;
    cursor: pointer;
}
.country:hover {
    fill: #c5cfdf;
    stroke: #1e52a9;
}
.hidden {
    display: none;
}
.tooltip {
    color: #7590bd;
    background-color: #fff;
    padding: 12px 16px;
    border-radius: 5px;
    position: absolute;
    border: 1px solid #7590bd;
}
.tooltip-counter {
    margin-top: 6px;
    font-size: 12px;
}
.copyright {
    color: #e6e6e6;
    font-size: 18px;
}